html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

ul,
ol {
  @include listReset;
}

.container {
  max-width: 1800px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: $fontSizeTitle;
  color: #000;
}

.subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #000;
}
